<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <!-- A list of comma separated tables that will be ignored.  Wild cards can be created that end with *. -->
    <add key="IgnoreTables" value="lt_*,Errors"/>

    <!-- The full filepath to the file that the output will be saved in.  This will overwrite the file if it exists. -->
    <add key="SaveFile" value="D:\Projects\Web Dev\NunitData.cs"/>

    <!-- List of comma separated tables that will create update statements instead of inserts -->
    <add key="UpdateTables" value="Counters,DatabaseInfo"/>

    <!-- List of comma separated tables that will be inserted/updated before all other tables in the order they appear. -->
    <add key="TableOrder" value="Users,Accounts"/>

    <!-- A list of comma seperated tables;columns;values that should be ignored  -->
    <add key="SpecialIgnores" value=""/>

  </appSettings>
</configuration>
